.box {
  height: 210px;
  width: 210px;
  border: 2px solid black;
  border-radius: 20%;
}

.dropDown {
  width: 80%;
  margin: 20px;
}

.yellow .box {
  background-color: Yellow;
}

.orange .box {
  background-color: Orange;
}

.blue .box {
  background-color: Blue;
}

.pink .box {
  background-color: Pink;
}
